* {
    font-family: 'Open Sans', sans-serif;

}

.nav-header-list {
    background-color: #313131;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    background-image: url("../img/logo-img.png");
    width: 27px;
    height: 27px;
    margin-left: 22px;
}

.logo-link {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 54px;
    text-decoration: none;
}
.logo-link:hover{
    color: #14B9D5;
    cursor: pointer;
}

.nav-header-item {
    list-style-type: none;
}

.nav-header-link {
    display: inline-block;
}

.header-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-left: 35px;
    text-transform: uppercase;
}

.search {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 17px;
    background-color: black;
    padding: 27px;
}
.search:hover{
    background-color: #14B9D5;
}

.header-link:hover {
    color: #14B9D5;
    cursor: pointer;
}

.header-background-section {
    background-image: url("../img/header-background.png");
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background-repeat: round;
    background-size:cover;
}

.heading {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFF;
    text-align: center;
    padding-top: 164px;
}

.header-section-button {
    text-align: center;
    padding-top: 44px;
    padding-bottom: 68px;
}

.btn {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px 17px 19px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
}
.btn-green{
    background-color: #89CA62;
}

.btn-blue{
    background-color: #14B9D5;
    padding-right: 29px;
    padding-left: 30px;
}

.most-popular-section {
    width: 100%;
    margin: 0 auto;
}

.heading-section {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 52px;
    text-transform: uppercase;
}
.link{
    text-decoration: none;
    color: #18B4CF;
}

.most-popular-art {
    width: 1200px;
    height: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.text-art {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 22px;
    text-align: center;
}

.background-art-popular {
    width: 100%;
    background-image: url("../img/bg-most-popular.jpeg");
    background-attachment: fixed;
    background-repeat: round;
    background-size:cover;
}

.heading-background {
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    padding-top: 106px;
    color: #FFFFFF;
}

.line-heading {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin: 87px auto;
}

.logo-popular {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 106px;
    padding-bottom: 191px;
}

.top-rated-art {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    justify-items: center;
    overflow-x: hidden;
}

.hot-news-art {
    display: grid;
    grid-template-columns: repeat(4 , 277px);
    grid-template-rows: 259px repeat(2 ,418px) 259px;
    width: 100%;
    grid-column-gap: 35px;
    grid-row-gap: 40px;
    justify-content: center;
}

.prophecy-heading {
    text-align: center;
    width: 370px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #353A3D;
}

.text-prophecy {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    width: 370px;
}

.prophecy {
    grid-column-end: 1;
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nebula{
    grid-column-start: 4;
    grid-column-end: 5;
}
.nebula-heading {
    width: 277px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top:14px;
    text-align: center;
}

.western{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grand{
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: right;
}

.wanderlust{
    grid-column-start: 1;
    grid-column-end: 3;
}

.twin{
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: right;
}

.post-heading {
    width: 554px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    margin-top: 14px;
    margin-bottom: 15px;
}

.text-post{
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    width: 554px;
}

.prism{
    grid-column-start: 1;
    grid-column-end: 2;
}

.prism-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    margin-top: 5px;
}

.king {
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.king-heading {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    width: 370px;
    color: #353A3D;
}

.text-king {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    width: 420px;
}

.main-footer{
    background-color: black;
    width: 100%;
    margin: 3px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 30px;
}

.object-footer{
    display: grid;
    grid-template-columns: 38px 64px;
}











.hide{
    padding: 15px;
    background-color: red;
}



.scroll{
    background-color: red;
    padding: 15px;
    text-decoration: none;
    border: 1px solid black;
    width: 100px;
    display: inline-block;
}

.scroll-link{
    text-decoration: none;
    color: black;
}





#top {
    bottom: 0;
   border: 1px solid whitesmoke;
    position: fixed;
    right: 0;
    background-color: red;
    padding: 26px 25px 26px 25px;
    cursor: pointer;
    display: none;
}




