* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
}

.logo-color {
    color: aqua;
}

.logo-link {
    text-decoration: none;
    color: #000000;

}

.header-list {
    display: inline-block;
    width: 100%;
    background-color:#35444F ;
    padding-top: 26px;
    padding-bottom: 19px;
    text-align: center;
}

.header-link {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: white;
    padding:26px 33px 19px 33px ;
    border-left: 1px solid white;
}

.header-link:hover{
    background-color: #222F3A;
    cursor: pointer;
}

.main-section{
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.side-bar-list{
    width: 344px;
    height: 391px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.bar-link{
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    padding-top: 26px;
    padding-bottom: 25px;
    padding-left: 44px;
}

.bar-link:hover{
    background-color: #DBDBDB;
    padding-left: 70px;
    font-weight: bold;
    cursor: pointer;
}

.zodiak-menu{
    width: 885px;
    margin-left: 53px;
    display: inline-block;
}

.img-zodiak {
    border: 1px solid black;
    margin-bottom: 37px;
}

.img{
    background: url("../img/zodiak.png") center no-repeat;
    display: inline-block;
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}

.text-zodiak{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.img:hover{
    transform: scale(1.4,1.4);
}

.footer-nav-item{
    width: 100%;
    background-color: rgba(99, 105, 110, 0.48);
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 25px;
}

.footer-item{
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-link{
    list-style-type: none;
    text-decoration: none;
    padding-right:16px ;
    color: #0C1927;
}
.copyright{
    margin-left: 134px;
    font-size: 24px;
    line-height: 24px;
}
.footer-link:hover{
    cursor: pointer;
    color: cadetblue;
    text-decoration: underline;
}












