body{
    background-color: black;
}

.text{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    color: orange;
    animation: up 30s linear;
    animation-iteration-count: infinite;
}

.episode{
    padding: 25px;
    perspective: 150px;
    transform:perspective(30px) rotateX(15deg);
}

@keyframes up {
    from { transform: translateY(30vh);
    }
    to{ transform: translateY(-70vh);
    }
}

