* {
    font-family: 'Ubuntu', sans-serif;
}

.main-page {
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);

}

.logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 18px;
    padding-left: 79px;
    padding-bottom: 18px;
    text-decoration: none;

}

.logo:hover {
    color: #3CB878;
}

.header-nav-menu {
    width: 335px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-right: 79px;
    padding-bottom: 18px;
}

.calendar:hover {
    content: url("../img/Vector (3) green.svg");
}

.post:hover {
    content: url("../img/Vector (4) green.svg");
}

.nav:hover {
    content: url("../img/Vector (5) green.svg");
}

.header-text {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-link:hover {
    color: #3CB878;
}

.form-info {
    display: block;
    transform: translateY(calc((100% - 570px) / 2));
    width: 444px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
}

.sing {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sing:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    display: inline-block;
    position: relative;
    right: 30px;
}

.link-info {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-left: 297px;
    text-decoration: none;
}

.link-info:hover {
    text-decoration: underline;
    color: #01813F;
}

.btn-form {
    margin-top: 15px;
}

.btn {
    display: flex;
    justify-content: space-between;
}

.facebook {
    background-color: #305DB8;
    border: none;
    border-radius: 3px;
}

.facebook:hover {
    background-color: #022263;
    cursor: pointer;
}

.text-btn {
    padding-right: 36px;
    color: #FFFFFF;
    position: relative;
    bottom: 18px;
    font-size: 16px;
    line-height: 16px;
}

.text-btn:before {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    margin-right: 39px;
    margin-left: 18px;
    display: inline-block;
    position: relative;
    top: 9px;
}

.img-btn-fb {
    content: url("../img/f 1.svg");
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.img-btn-google {
    content: url("../img/G+.svg");
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 14px;
}

.google {
    border: none;
    border-radius: 3px;
    background-color: #DF4A32;
}

.google:hover {
    background-color: #AB1F09;
    cursor: pointer;
}

.or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    margin-top: 32px;

}

.or:before {
    content: "";
    width: 200px;
    height: 1px;
    background: #F2F2F2;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 2px;
}

.or:after {
    content: "";
    width: 200px;
    height: 1px;
    background: #F2F2F2;
    display: inline-block;
    margin-bottom: 3px;
    padding-right: 2px;
}

.input-info {
    margin-top: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    width: 418px;
}

.input-info:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    outline-offset: 0;
}
.input-info::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE
}

.check-text{
    font-size: 14px;
    line-height: 14px;
    color: #434343
}
.terms {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.terms:hover{
    text-decoration: underline;
    color: #01813F;
}

.check {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-top: 15px;
}

.btn-create{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    padding: 16px 165px 16px 165px;
    border-radius:  4px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-create:hover{
    background-color: #01813F;
    cursor: pointer;
}