.slider-item-red{
    width: 250px;
    height: 250px;
    /*background-color: red;*/
}

.slider-item-green{
    width: 250px;
    height: 250px;
    /*background-color: green;*/
}

.slider-item-pink{
    width: 250px;
    height: 250px;
    /*background-color: pink;*/
}

.slider-item-black{
    width: 250px;
    height: 250px;
    /*background-color: black;*/
}

.container{
    width: 1200px;
    margin: 40px auto;
    background-color: #DBDBDB;
}
.slider{
    width: 250px;
    height: 250px;
    border: 2px solid orange;
    margin: 30px auto;
    overflow: hidden;
}

.slider-line{
    height: 250px;
    width: 1000px;
    background: #0C1927;
    display: flex;
    position: relative;
}
.btn{
    display: flex;
    justify-content: center;
}