
* {
    font-family: 'Montserrat', sans-serif;
}
.menu-list{
    list-style-type:none;
    text-transform: uppercase;
    padding-top: 25px;
    text-align: center;
}
.menu-item{
    display: inline-block;
    padding-left: 72px;
    text-align: center;
    margin: 26px auto;
}
.menu-link{
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    cursor:pointer;
}
.img{
    background-image: url('../img/image 1.png');
    max-width: 1280px;
    height: 789px;
    margin: 0 auto;
}
.main-content{
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
}
.heading{
    text-transform: uppercase;
    margin-top: 48px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    letter-spacing: 3.3px;
}
.main-text {
    margin-top: 38px;
    font-size: 16px;
    font-weight: normal;
    color: #373737;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.button{
    color: #FFF;
    background-color: #FF0000;
    text-transform: uppercase;
    padding: 18px 43px 17px 42px;
    border: none;
    border-radius: 4px;
    margin-top: 66px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    cursor:pointer;
    letter-spacing: 1.8px
}
.copyright-text{
    font-weight: bold;
    text-align: right;
    font-size: 16px;
    width: 1280px;
    margin: 82px auto;
    line-height: 20px;
    color: #373737;
    letter-spacing: 2.4px
}