*{
    font-family: 'Roboto', sans-serif;
}

.page{
    width: 100%;
    background-image: url("../img/background 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    padding-top: 20px;
    width: 1020px;
    margin: 0 auto;
}

.header-menu
{
    display: flex;
    justify-content: space-between;
}

.logo-header:hover .img{
    content: url("../img/logo 2.svg");
    cursor: pointer;
}
.logo-header:hover .logo{
    color: #F26522;
    cursor: pointer;
}

.logo-img{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.logo {
    width: 140px;
    padding-left: 8px;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF
}

.holidays{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.contacts{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.contact-link{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
}

.phone{
    padding-top: 19px;
}

.phone:hover{
    color: #F26522;
    cursor: pointer;
}

.mail:hover{
    color: #F26522;
    cursor: pointer;
}

.main-content{
    margin: 26px auto;
    width: 1020px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shoping{
    background-image: url("../img/shoping.png");
    width: 304px;
    height: 222px;
}

.sightseeing{
    background-image: url("../img/sightseeing.png");
    width: 304px;
    height: 222px;
}

.food{
    background-image: url("../img/food.png");
    width: 304px;
    height: 222px;
}

.bars{
    background-image: url("../img/bars.png");
    width: 304px;
    height: 222px;
}

.art{
    background-image: url("../img/art.png");
    width: 304px;
    height: 222px;
}

.walking{
    background-image: url("../img/walking.png");
    width: 304px;
    height: 222px;
}

.img-main-link{
    text-decoration: none;
}

.text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.background{
    height: 55px;
    padding-top: 168px;
}

.art-link{
    background-color: #F26522;
    text-decoration: none;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #FFFFFF;
    opacity: 0;
}

.form{
    font-size: 10px;
    line-height: 10px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.price{
    font-size: 20px;
    line-height: 20px;
}

.details{
    font-size: 14px;
    line-height: 14px;
    padding-right: 37px;
    padding-top: 29px;
}

.details::after{
    content: url("../img/Vector 1.svg");
    padding-left: 16px;
}

.img-background:hover .art-link{
    cursor: pointer;
    opacity: 1;
}

.img-background:hover .text{
color:#F26522 ;
}

.copyright{
    width: 100%;
}

.footer-text{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    padding-top: 90px;
    padding-bottom: 19px;
}

