.image-to-show{
    width: 400px;
    height: 400px;
}

.slider{
    width: 400px;
    height: 400px;
    border: 2px solid orange;
    margin: 30px auto;
    overflow: hidden;
}

.slider-line{
    height: 400px;
    width: 1600px;
    background: #0C1927;
    display: flex;
    position: relative;
}
.btn{
    display: flex;
    justify-content: center;
}