* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
}

.main-header {
    background-image: url("../img/sections/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-header-link {
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-between;
}

.header-nav-menu {
    display: flex;
    width: 580px;
    justify-content: space-between;
    margin-right: 380px;
}

.hexagon {
    position: relative;
    top: 21px;
    right: 6px;
}

.logo {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    margin-left: 300px;
}

.ham {
    color: #18CFAB;
    font-weight: bold;

}

.logo:before {
    content: "H";
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    position: relative;
    top: 3px;
    right: -48px;
    padding-left: 6px;
    z-index: 1;
}

.link-header {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 49px;
    padding-bottom: 48px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.link-header:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.search {
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 20px;
    padding-top: 49px;
}

.heading-ham {
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    margin-top: 264px;
}

.wordpress {
    color: #18CFAB;
}

.heading-creative {
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    color: #FFFFFF;
    margin-top: 70px;
    text-transform: uppercase;
}

.heading-just {
    font-size: 35px;
    line-height: 1px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 70px;
    text-transform: capitalize;
    font-weight: normal;
}

.header-section {
    text-align: center;
}

.button-header-section {
    display: flex;
    justify-content: center;
    margin-top: 206px;
    padding: 259px;
}

.btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    border-top: 5px solid white;
}

.button-explore {
    padding: 16px 18px 16px 17px;
    background-color: #18CFAB;
    margin-right: 13px;
}

.button-purchase {
    padding: 16px 11px 16px 12px;
    background-color: #00CBF6;
    margin-left: 13px;
}

.section-img {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.finger {
    background-color: #1C2A33;
    padding: 95px 211px 182px 210px;

}

.diamond {
    background-color: #18CFAB;
    padding: 95px 211px 182px 210px;
}

.light {
    background-color: #1C2A33;
    padding: 95px 211px 182px 210px;
}

.computer {
    background-color: #18CFAB;
    padding: 95px 211px 182px 210px;
}

.text-section {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    text-transform: uppercase;
    text-align: center;
    margin-top: 47px;
}

.black {
    color: #FFFFFF;
}

.img-finger {
    margin-left: 106px;
}

.img-diamond {
    margin-left: 63px;
}

.img-computer {
    margin-left: 82px;
}

.img-light {
    margin-left: 89px;
}


.header-service {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin-top: 83px;
}

.header-service:after {
    content: "";
    width: 79px;
    height: 4px;
    display: block;
    background-color: #18CFAB;
    box-shadow: 16px 14px 0px 0px #18CFAB;
    margin: 24px auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    margin-top: 69px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    line-height: 39px;
    color: #717171;
}

.list {
    border: 1px solid #EDEFEF;
    padding-top: 17px;
    padding-bottom: 16px;
}

.list:hover {
    border: 2px solid #18CFAB
}

.web {
    padding-left: 34px;
    padding-right: 34px;

}

.list.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.list.active:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #18CFAB;
    position: relative;
    top: 43px;
    right: 60px;
}

.graphic {
    padding-left: 20px;
    padding-right: 20px;
}

.online {
    padding-left: 19px;
    padding-right: 21px;
}

.app {
    padding-left: 33px;
    padding-right: 36px;
}

.marketing {
    padding-left: 11px;
    padding-right: 15px;
}

.seo {
    padding-left: 36px;
    padding-right: 37px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    justify-content: center;
}

.menu-text {
    display: none;
}

.menu-text.open {
    display: flex;
}

.lorem {
    width: 783px;
    padding-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #777777;
}

.everything {
    background-image: url("../img/sections/section2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.heading-everything {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    padding-top: 126px;
    margin-bottom: 12px;
}

.text-everything {
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.btn-everything {
    padding: 16px 11px 16px 12px;
    color: #FFFFFF;
    background-color: #18CFAB;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    border-top: 5px solid white;
    font-size: 15px;
    line-height: 32px;
    margin-top: 83px;
    margin-bottom: 143px;
}


.heading-our {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin-top: 95px;
}

.heading-our:after {
    content: "";
    width: 79px;
    height: 4px;
    display: block;
    background-color: #18CFAB;
    box-shadow: 16px 14px 0px 0px #18CFAB;
    margin: 24px auto;
}

.all {
    padding-left: 27px;
    padding-right: 28px;
}

.our-table {
    width: 580px;
    margin: 73px auto;
    display: flex;
}

.our-content {
    border: 1px solid #DADADA;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: normal;
    font-size: 14px;
    color: #717171;
}

.our-content:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.creative-img {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(3, 206px);
    justify-content: center;
    align-content: center;
}

.creative-design {
    padding-top: 42px;
    width: 285px;
    border-top: 2px solid #18CFAB;
}

.creative-icon {
    margin-left: 93px;
}

.creative-text {
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 24px;
    text-align: center;
}

.wd-text {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    padding-top: 22px;
    text-align: center;
}

.creative-btn {
    margin: 83px auto;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    background-color: #18CFAB;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1px 18px 5px 41px;
}

.creative-btn:before {
    content: "+";
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    right: 22px;
    top: 10px;
}

.breaking-news {
}

.header-news {
    margin-top: 82px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-transform: capitalize;
}

.header-news:after {
    content: "";
    width: 79px;
    height: 4px;
    display: block;
    background-color: #18CFAB;
    box-shadow: 16px 14px 0px 0px #18CFAB;
    margin: 24px auto;
}

.breaking-news-img {
    margin-top: 68px;
    display: grid;
    grid-template-rows: repeat(2, 208px);
    grid-template-columns: repeat(4, 263px);
    grid-column-gap: 35px;
    grid-row-gap: 117px;
    justify-content: center;
}

.post-text {
    font-weight: bold;
    font-size: 17px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    margin-top: 208px;
}

.admin-text {
    font-size: 13px;
    line-height: 39px;
    text-align: center;
    color: #777777;
    margin-top: 4px;
}

.data {
    float: right;
    background-color: #203E38;
    width: 70px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 25px;
}

.background-photo {
    background-image: url("../img/sections/Layer 47.png");
    width: 263px;
    height: 208px;
}

.background-fire {
    background-image: url("../img/sections/Layer 50.png");
    width: 263px;
    height: 208px;
}

.background-expensive {
    background-image: url("../img/sections/Layer 51.png");
    width: 263px;
    height: 208px;
}

.background-man {
    background-image: url("../img/sections/Layer 52.png");
    width: 263px;
    height: 208px;
}

.background-bird {
    background-image: url("../img/sections/Layer 53.png");
    width: 263px;
    height: 208px;
}

.background-bike {
    background-image: url("../img/sections/Layer 54.png");
    width: 263px;
    height: 208px;
}

.background-tourist {
    background-image: url("../img/sections/Layer 55.png");
    width: 263px;
    height: 208px;
}

.background-pen {
    background-image: url("../img/sections/Layer 56.png");
    width: 263px;
    height: 208px;
}

.img-amazing:hover .data {
    background-color: #18CFAB;
}

.img-amazing:hover .post-text {
    color: #18CFAB;
}

.what-people-say {
    background-image: url("../img/sections/Layer 333.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.what-people-say {
    margin-top: 128px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    min-width: 1200px;
}

.heading-people {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    padding-top: 98px;
    margin-bottom: 12px;
}

.heading-people:after {
    content: "";
    width: 79px;
    height: 4px;
    display: block;
    background-color: #18CFAB;
    box-shadow: 16px 14px 0px 0px #18CFAB;
    margin: 24px auto;
}

.quotes {
    padding-top: 66px;
}

.slick-track {
    display: flex;

}

.slick-list {
    overflow: hidden;
}

.slider {
    position: relative;
    width: 483px;
    margin: 0 auto;
    padding-bottom: 104px;
}

.slider-item:hover {
    position: relative;
    bottom: 5px;
}

.slider .slick-arrow {
    position: absolute;
    top: 7%;
    z-index: 10;
    font-size: 0;
    width: 35px;
    height: 35px;
}

.slider .slick-arrow.slick-prev {
    left: -35px;
    background: url("../img/sections/left.svg");
}

.slider .slick-arrow.slick-prev:hover {
    background: #18CFAB;
}

.slider .slick-arrow.slick-next {
    right: -35px;
    background: url("../img/sections/right.png");
}

.slider .slick-arrow.slick-next:hover {
    background: #18CFAB;
}

.slider-big {

}

.slider-big-item {
}

.open-photo-big {
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin-bottom: 56px;
}

.slider-big-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    width: 1160px;
    margin: 0 auto;
    padding-bottom: 37px;
    padding-top: 36px;
}

.slider-big-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}

.slider-big-job {
    color: #BBBBBB;
    font-size: 14px;
    line-height: 18px;
    padding-top: 12px;
    padding-bottom: 38px;
}


.footer-text {
    background-color: #22353F;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 26px;
    padding-top: 48px;
    padding-bottom: 47px;
    width: 100%;
    text-align: center;
}

.footer-color-text {
    color: #18CFAB;
}





